.cabecalhoPrincipal .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.cabecalhoPrincipal-nav {
    display: flex;
    justify-content: space-between;
    
}

.rodapePrincipal-patrocinadores .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    align-items: center; 
    display: flex;
    justify-content: space-around;   
    margin-right: 5%;
    width: 70%;
    
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
    
}


.rodapePrincipal-navMap-list {
    display: flex;
    height: 250px;
    flex-flow: column wrap;
   
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
 
    
   
}

.conteudoPrincipal-cursos-link{
    width: 23%;
    
}

.videoSobre  .container{
    display: flex;
    justify-content: space-evenly;
}

.videoSobre-sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 2;
    
}

.videoSobre-sobre-list {
    flex-grow: 1;
}
.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2;
}


/*parte mobile*/

@media (max-width: 768px) {
        
    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;

    }

    .cabecalhoPrincipal-nav  {
        flex-direction: column;
        
    }

    .conteudoPrincipal-cursos {
        flex-direction: column;
        
    }

    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .videoSobre  .container {
        flex-direction: column;

    }
    .rodapePrincipal-navMap-list {
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
        
    }
    .rodapePrincipal-patrocinadores-list {
        width: 100%;
        margin: 0;
    }

    .rodapePrincipal-contatoForm {
        width: 100%;
    }
    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }
    
    .cabecalhoPrincipal-nav-link-app{
        order: -1;
    }
}